ul.list-unstyled.inlineColumns {
    width: 50px;
    width: 50px;
    display: inline-block;
    background-color: #d3d3d4;
}

ul.list-unstyled.inline li:hover {
    cursor: pointer;
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

[data-value] {
    cursor: pointer;
}

[data-value]:hover {
    background-color: #999;
}

[data-value].clicked {

    background-color: #ff0000;
}

[data-status='occupied'] {
    /*  background-color: aquamarine;*/
    --bs-alert-color: var(--bs-primary-text-emphasis);
    --bs-alert-bg: var(--bs-primary-bg-subtle);
    --bs-alert-border-color: var(--bs-primary-border-subtle);
    --bs-alert-link-color: var(--bs-primary-text-emphasis);
}